 #calender {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
        grid-template-rows: 200px 200px 200px 200px;

    }
    #calender div{
        border: 2px solid black;
        font-size: 25px;
    }
    #Options {
        display: flex;
        color:red;
    }
    #Options form {
        padding-left: 20px;
        padding-right: 20px;
    }